@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #000;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
label {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

.flexSB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.paddingTB {
  padding: 40px 0;
}